<div class="container">
  <h1 class="title">Dog images finder</h1>
  <div class="actions">
    <select
      class="actions__select"
      name="breeds"
      #selectBreed
      (change)="onChange(selectBreed.value)"
    >
      <option *ngFor="let breed of breedArray" [ngValue]="breed">
        {{ breed }}
      </option>
    </select>
    <button
      class="actions__findBtn"
      [ngClass]="isBtnTriggered ? 'clicked' : ''"
      (click)="handleFindClick()"
      (mousedown)="handleMousedown()"
      (mouseup)="handleMouseup()"
    >
      Find dog!
    </button>
  </div>
  <div class="image-container" *ngIf="src">
    <button class="image__addBtn" (click)="handleAddClick()">
      Add to favorites
    </button>
    <img src="{{ src }}" alt="dog image" />
  </div>
</div>
