$primaryColor: rgba(0, 26, 128, 0.79);
$secondaryColor: rgb(255, 255, 240);

@mixin actionsTheme($primaryColor, $secondaryColor) {
  border: 9px solid $primaryColor;
  color: $primaryColor;
  box-shadow: 0px 0px 13px $secondaryColor;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  margin: 2rem 3rem;
  color: $primaryColor;
}

.actions {
  position: relative;
  margin: 2rem 3rem;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  &__select {
    position: relative;
    padding: 0.7rem 1.4rem;
    font-size: 1.5rem;
    background-color: transparent;
    @include actionsTheme($primaryColor, $secondaryColor);
    cursor: pointer;
  }
  &:before {
    content: "Choos breed...";
    position: absolute;
    width: 100px;
    height: 16px;
    padding: 0 5px;
    top: -5px;
    left: 15px;
    z-index: 1;
    color: $primaryColor;
    background-color: $secondaryColor;
  }
}

.image-container {
  max-height: calc(100vh - 240px);
  box-shadow: 0px 0px 13px $primaryColor;
  position: relative;
  & img {
    width: auto;
    height: 100%;
  }
}
