$primaryColor: rgba(0, 26, 128, 0.79);
$secondaryColor: rgb(255, 255, 240);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation {
  margin: 0;
  background-color: $primaryColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  padding: 0.75rem;
  text-decoration: none;
  color: $secondaryColor;
  text-transform: uppercase;
  display: inline-block;
  &::before {
    display: block;
    content: attr(title);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

li {
  transition: all 0.5s;
  transition-delay: 0.1s;
  &:hover {
    box-shadow: 0 0 10px 4px $primaryColor;
  }
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.active-link {
  background-color: $secondaryColor;
  color: $primaryColor;
  box-shadow: 0 0 10px 4px $primaryColor;
  transform: scale(1.1);
  transition: all 0.5s;
}
