$secondaryColor: rgb(255, 255, 240);

.image {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__item {
    position: relative;
    max-width: 90%;
    margin: 0 auto 1rem;
    // margin-bottom: 1rem;
  }
  @media (min-width: 420px) {
    &__grid {
      gap: 4%;
    }
    &__item {
      max-width: 48%;
    }
  }
  @media (min-width: 768px) {
    &__grid {
      gap: 5%;
    }
    &__item {
      max-width: 30%;
    }
  }
  &__title {
    margin: 0;
  }
  &__content {
    width: 100%;
    height: auto;
  }
  &__delete-btn {
    position: absolute;
    right: 3px;
    top: 20px;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 2;
    border: none;
    cursor: pointer;
    background-color: $secondaryColor;
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
    transition-delay: 0.1s;
    &:hover {
      opacity: 1;
    }
  }
}
