$primaryColor: rgba(0, 26, 128, 0.79);

.container {
  height: 100vh;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.image-container {
  position: relative;
  max-height: calc(100vh - 240px);
  margin-top: 1.5rem;
  box-shadow: 0px 0px 13px $primaryColor;
  & img {
    width: auto;
    height: 100%;
  }
}
